@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    height: 100vh;
    height: 100svh;
}

@mixin header {
    background-color: $primary;

    h2{
        font-family: 'Source Code Pro';
    }
}

@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value > $sm {
        @media (min-width: $value) {
            @content;
        }
    }
    @else if $break == 'sm' {
        @media (max-width: $value) {
            @content;
        }
    }
}

.hide{
    visibility: hidden;
}