$primary: #4F95FE;
$secondary: #F0F0F0;

$mediums: ('music', 'movies', 'books', 'television');

$breakpoints: (
    'sm' : 640px,
    'med' : 768px,
    'lg' : 1024px,
    'xl' : 1280px,
    '2xl' : 1536px,
)